html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin:0;
    min-height: 100%;
    position: relative;
    padding-bottom: 5rem;
}

#preamble {
    background:#5f5f5f;
    font-size: 28px;
    padding: 11px;
}

#preamble a {
    text-decoration: none;
    color: #CCC;
}

#preamble a:hover {
    text-decoration: underline;
}

#postamble {
    width: 100%;
    font-size: 17px;
    margin-bottom: .2rem;
}

#postamble, #copyright, #made-with {
    position: absolute;
    bottom: 0;
}

#postamble img {
    display: unset;
    width: unset;
    height: unset;
    max-width: unset;
    margin: unset;
    border-radius: unset;
}

#made-with {
   left: 10px;
}

#emacs-logo {
    max-height: 30px;
}

#org-mode-logo {
    max-height: 45px;
}

#copyright {
    right: 10px;
    bottom: 6px;
}

#no-script-comment-message {
    margin-left: 50%;
}

.postamble-text {
    vertical-align: 50%;
}