html {
    background: url(images/tree-d-4-b-5-l-200-a-25.png) no-repeat center center fixed;
    background-size: cover;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 25px;
}

.header-links {
    font-size: 2rem;
}

#content {
    margin: 50px;
}

.posts {
    display: flex;
}

.life {
    margin-right: 1rem;
}

@media (max-width:1010px) {
    .posts {
        flex-direction: column;
    }
}

