:root {
    --content-width: 750px;
}

html {
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 20px auto;
    border-radius:2px;
}

body {
    position: relative;
    max-width: var(--content-width);
}

h1 {
    text-align: center;
    border-bottom: solid 2px black;
}


pre, code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: .7rem;
}

pre {
    padding: 10px;
    background: #292b2e;
    overflow: auto;
    color: white;
}

code {
    padding:.2rem;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
    border-radius:5px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#preamble {
    margin-top: 1rem;
    padding: .6rem;
    background: lightgrey;
}

#preamble > a {
    margin-left: 1rem;
    color: black;
}

#content {
    /* Force a scroll bar on the index page so that background stays same size between pages */
    /* TODO add more content so scroll bar makes sense... */
    min-height: 83vh;
    line-height: 1.59;
}

#postamble {
    font-size: .8rem;
    margin-bottom: .2rem;
}

#postamble img {
    display: unset;
    width: unset;
    height: unset;
    max-width: unset;
    margin: unset;
    border-radius: unset;
}


#emacs-logo {
    max-height: 30px;
}

#org-mode-logo {
    max-height: 45px;
}

#comment-section form {
    margin-bottom: 1rem;
}

#comment-section input, #comment-section textarea {
    display: block;
    padding: .3rem;
    margin-bottom: .3rem;
}

#comment-section textarea {
    min-width: 40%;
}

#comment-section button {
    padding: .3rem;
}

.sitemap > ul {
    padding: 0;
}

.sitemap > ul > li {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.sitemap > ul > li > code {
    background: unset;
    border: unset;
    font-size: .8rem;
}

.comment {
    animation: slide-in 1.3s ease;
    margin-top: 1rem;
    border: 2px solid darkslateblue;
    box-shadow: 3px 5px #888888;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 5px;
}

.comment-body {
    margin-top: 1rem;
}

.date{
    font-style: italic;
    float: right;
}

.postamble-text {
    vertical-align: 50%;
}

@keyframes slide-in {
    0% {
	opacity: 0;
	transform: translateX(-100px);
    }
    100% {
	opacity: 1;
    }
}

@media (min-width: 1051px) {
    /* Applies to large screen sizes */
    html {
	margin-left: 50px;
	background: no-repeat fixed right/70% url(images/tree-d-4-b-5-l-200-a-25.png);
    }
}

@media (max-width: 900px) {
    /* Applies to small screen sizes */
}
