html {
  background: url(tree_d-5_b-5_l-100_a-90.png) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
h1 {
	font-family: "Lucida Console", Monaco, monospace
}
ol {
	font:20px "Lucida Console",monospace;
	padding-top:100px;
}
p {
	font:20px "Lucida Console",monospace;
}
