html { 
  background: url(tree_d-4_b-5_l-200_a-25.png) no-repeat center center fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


