html {
  font-size:20px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height:33px;
  margin: 0;
  background:#f0f0f0;
}

#content-wrapper {
  box-shadow: 0 10px 5px 1px rgba(0,0,0,.26);
  background:white;
  padding: 3rem .5rem .5rem .5rem;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 20px auto;
  border-radius:8px;
}

@media (min-width:600px) {
  html {
    margin: 5rem 10vw 5vh 10vw;
  }

  #content-wrapper {
    padding: 3rem;
  }

  img {
    max-width:50%;
  }
}

#title h2 {
  margin: auto;
  text-align: center;
}

code {
  padding:.2rem;
  border: 1px solid blue;
  font:.6rem Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace;
  border: 1px solid #BCBEC0;
  background: #F1F3F5;
  border-radius:5px;
}

pre {
  line-height:1rem;
  overflow: auto;
  font-size: .7rem;
  background: #1d1f21;
  color:#c5c8c6;
  border: 1px solid #777;
  padding:.35rem;
  border-radius:5px;
}

pre code {
  background:initial;
  border:0px;
}

#header button {
  margin-left:1.5rem;
}

#header input, #header button {
  background:#5f5f5f;
  color: white;
  transition-duration: 0.4s;
  border-radius: 4px;
  font-size:100%;
}

#headerinput:hover, #header button:hover {
  background:grey;
  color:white;
  transition-duration: 0.4s;
  border-radius: 4px;
}

#header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:#5f5f5f;
  color: #CCC;
  padding: 10px 20px 10px 20px;
  outline:solid black 1px;
}

#header form {
  display: inline;
}

#footer form {
  margin-bottom:1rem;
}

#footer input, #footer textarea {
  display: block;
  padding:.3rem;
  margin-bottom: .3rem;
}

#footer textarea {
  min-width:40%;
}

#footer button {
  font-size:.7rem;
  padding:.3rem;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    }
  100% {
    opacity: 1;
  }
}

.comment {
  animation: slide-in 1.3s ease;
  font-size:.8rem;
  margin-top:1rem;
  border:2px solid darkslateblue;
  box-shadow: 3px 5px #888888;
  padding:.5rem 1rem .5rem 1rem;
  border-radius:5px;
}

.comment-name {
  font-size:1rem;
}

.date{
  font-style:italic;
  float:right;
}

.comment-body {
  margin-top:1rem;
}
