:root{
    --content-width: 750px;
}

html {
    font-family: Georgia, "Times New Roman", serif;
    margin: 0;
    background:lightblue;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 20px auto;
    border-radius:2px;
   image-orientation: from-image;
}

h1 {
    font-size: 25px;
    margin: auto;
    text-align: center;
}

li, p {
    font-size:20px;
}

pre {
  padding: 10px;
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
  font-size: 14px;
  background: #292b2e;
  border-radius:5px;
  overflow: auto;
  color: white;
}

code {
    padding:.2rem;
    font: .8rem Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace;
    border: 1px solid #BCBEC0;
    background: #F1F3F5;
    border-radius:5px;
}

pre code {
    padding: unset;
    font: unset;
    border: unset;
    background: unset;
    border-radius: unset;
}

#preamble {
    margin-bottom: 3rem;
}

#content {
    margin: 0 auto;
    line-height:1.59;
    box-shadow: 0 10px 5px 1px rgba(0,0,0,.26);
    background:white;
    padding: 1rem;
    max-width: var(--content-width);
    border-radius: 5px;
}

@media (max-width:750px) {
    #content {
        padding: .5rem;
        margin: .5rem;
    }
}

#comment-section form {
    margin-bottom:1rem;
}

#comment-section input, #comment-section textarea {
    display: block;
    padding:.3rem;
    margin-bottom: .3rem;
    font-size: 1.2rem;
}

#comment-section textarea {
    min-width:40%;
}

#comment-section button {
    padding:.3rem;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
    }
}

.comment {
    animation: slide-in 1.3s ease;
    margin-top:1rem;
    border:2px solid darkslateblue;
    box-shadow: 3px 5px #888888;
    padding:.5rem 1rem .5rem 1rem;
    border-radius:5px;
}

.comment-name {
    font-size: 1.2rem;
}

.comment-body {
    margin-top:1rem;
}

.date{
    font-style:italic;
    float:right;
}
