  <hr>
  <div class="footer">
    <h3>Comments</h3>
    <form>
      <input id="name" placeholder="your name" maxlength=16 required>
      <textarea id="comment-body" placeholder="your comment" required></textarea>
      <button id="save-post" type="button" onclick="saveComment()"> Submit </button>
    </form>
    <div id="comments">
      There's nothing here yet. Be the first!
    </div>
  </div>
</div>
<script>
  fetch('https://l4oejeyzok.execute-api.us-west-2.amazonaws.com/default/get_comments', {
    method: 'POST',
    body: JSON.stringify({post_number:postNum}),
    headers: {
      'Content-Type':'application/json'
    }
  }).then(response => response.json())
    .then(data     => data.Items.forEach(displayComment))
    .catch(err     => console.log(err));


  function displayComment(comment){
    if (typeof comment == 'string') throw new Error(comment);

    const comments = document.getElementById('comments');

    if (comments.children.length == 0 ) {
      comments.innerHTML = ''
    }

    const date = new Date(parseInt(comment.time_stamp.N))
    const year = date.getFullYear();
    const month = date.getMonth() + 1;
    const day = date.getDate();

    let newComment = document.createElement('div');

    newComment.classList.add("comment");
    newComment.innerHTML = `
      <div class="comment-name">
         <strong>${comment.comment_name.S}</strong>
         <span class="date">${month}/${day}/${year}</span>
      </div>
      <div class="comment-body">
        ${comment.comment_body.S}
      </div>`;

    comments.prepend(newComment);
  }

  function saveComment(){
    const sanitizeString = (s) => {
      let temp = document.createElement('div');
      temp.textContent = s;
      return temp.innerHTML;
    };

    const name = sanitizeString(document.getElementById('name').value);
    const comment = sanitizeString(document.getElementById('comment-body').value);
    if (!(name || comment)) return;

    fetch('https://l4oejeyzok.execute-api.us-west-2.amazonaws.com/default/post_comment', {
      method: 'POST',
      body: JSON.stringify({
        postNumber:postNum,
        commentName:name,
        commentBody:comment
      }),
      headers: {
        'Content-Type':'application/json'
      }
    }).then(response => response.json())
      .then(data     => displayComment(data))
      .catch(err     => console.log(err));
  }
</script>
