<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel=stylesheet href="style.css" type="text/css">
  <link rel=stylesheet href="code.css" type="text/css">
  <link rel="shortcut icon" href="../icon.ico"/>
</head>
<div id="content-wrapper">
  <div id="header">
    <form action="../blog.html">
      <input type="submit" value="blog" />
    </form>
    <!-- create-post inserts a button below this for change log and the closing div for #header -->
